@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: #313bac;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.leaflet-container {
  height: 100vh;
}